.main-layout {
	display: grid;
	grid-template-columns: 1fr 1440px 1fr;

	> * {
		grid-column: 2;
	}

	.full {
		grid-column: 1 / -1;
	}

	@include for-mobile-layout {
		grid-template-columns: 1fr 375px 1fr;
	}
}
// Or using container
// .container{
//     max-width: $website-width;
//     padding: 0 $website-padding;
//     margin: auto;
//     overflow: hidden;
// }
