* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $clr2;
}

body {
  font-family: madefor;
  background-color: $clr1;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: $clr2;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $call-to-action;
}
}
