@font-face {
    src: url('../../fonts/fa-brands-400.ttf');
    font-family: fa-brands;
}

@font-face {
    src: url('../../fonts/fa-regular-400.ttf');
    font-family: fa-regular;
}

@font-face {
    src: url('../../fonts/fa-solid-900.ttf');
    font-family: fa-solid;
}

@font-face {
    src: url('../../fonts/Madefor-Bold.otf');
    font-family: madefor-bold;
}

@font-face {
    src: url('../../fonts/Madefor-Regular.otf');
    font-family: madefor;
}

@font-face {
    src: url('../../fonts/Madefor-ExtraBold.otf');
    font-family: madefor-extrabold;
}

@font-face {
    src: url('../../fonts/Madefor-Italic.otf');
    font-family: madefor-italic;
}

@font-face {
    src: url('../../fonts/Madefor-Medium.otf');
    font-family: madefor-medium;
}
@font-face {
    src: url('../../fonts/Madefor-Semibold.otf');
    font-family: madefor-semibold;
}

