@font-face {
    src: url('../../fonts/fa-brands-400.ttf');
    font-family: fa-brands;
}

@font-face {
    src: url('../../fonts/fa-regular-400.ttf');
    font-family: fa-regular;
}

@font-face {
    src: url('../../fonts/fa-solid-900.ttf');
    font-family: fa-solid;
}
